<app-header></app-header>

<div class="container">

  <mat-card class="form-card">
    <mat-card-title>Create User</mat-card-title>

    <form [formGroup]="userForm" (ngSubmit)="createUser()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <button mat-raised-button color="primary"
              type="submit"
              [disabled]="userForm.invalid">
        Create User
      </button>
    </form>
  </mat-card>

  <mat-card class="list-card">
    <mat-card-title>Existing Users</mat-card-title>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <table mat-table [dataSource]="users" class="mat-elevation-z2">

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let u"> {{ u.username }} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let u"> {{ u.role }} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Created </th>
        <td mat-cell *matCellDef="let user">
          {{ user.createdAt | date:'short' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['username', 'role','createdAt']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['username', 'role','createdAt']"></tr>

    </table>

    <p *ngIf="users.length === 0 && !loading" class="empty">
      No users found
    </p>
  </mat-card>

</div>
