// // /* General styles for the dialog */
.mat-dialog-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mat-form-field {
  width: 100%;
}

/* Textarea style */
mat-form-field textarea {
  resize: vertical; /* Allow vertical resizing */
  min-height: 100px;
}

/* Radio button group */
.mat-radio-group {
  display: flex;
  gap: 20px;
}

/* Option form array styles */
.option-row {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* Add Option button */
button[mat-button] {
  background-color: #f0f0f0;
  padding: 10px 15px;
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
}

button[mat-raised-button] {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
}

.mat-checkbox {
  margin-left: 15px;
}

.remove-icon {
  cursor: pointer;
  color: #d32f2f;
  font-size: 22px;
}

.add-option-button {
  margin: 4px 0 10px;
}

/* Layout for smaller devices */
@media (max-width: 600px) {
  .mat-dialog-title {
    font-size: 1.25rem;
  }

  .mat-dialog-content {
    gap: 10px;
  }

  .option-row {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Reduce button width to fit smaller screens */
  button[mat-raised-button], button[mat-button] {
    width: 100%;
  }

}

.full-width {
  width: 90%;
}


::ng-deep .mat-dialog-container {
  max-height: 90vh !important;
  overflow: visible !important;
  padding: 24px;
}



