<h2 mat-dialog-title>
  {{ data?.question ? 'Edit Question' : 'Create Question' }}
</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field appearance="outline">
    <mat-label>Question</mat-label>
    <textarea matInput rows="3" formControlName="text"></textarea>
  </mat-form-field>

  <mat-radio-group formControlName="type">
    <mat-radio-button value="SINGLE">Single Choice</mat-radio-button>
    <mat-radio-button value="MULTI">Multiple Choice</mat-radio-button>
  </mat-radio-group>

  <div formArrayName="options">
    <div *ngFor="let o of options.controls; let i=index"
         [formGroupName]="i" class="option-row">

      <mat-form-field>
        <input matInput placeholder="Option" formControlName="text">
      </mat-form-field>

      <mat-checkbox
        formControlName="correct"
        (change)="onCorrectChange(i)">
        Correct
      </mat-checkbox>

    </div>
  </div>

  <button mat-button (click)="addOption()">+ Add Option</button>

  <mat-form-field appearance="outline">
    <mat-label>Explanation</mat-label>
    <textarea matInput rows="3"
              formControlName="explanation"></textarea>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary"
          (click)="save()">Save</button>
</mat-dialog-actions>
