
<app-header></app-header>

<div class="dashboard-container">
  <mat-card class="dashboard-card users" routerLink="users">
    <mat-icon>group</mat-icon>
    <h3>Manage Users</h3>
    <p>Create & manage users</p>
  </mat-card>
  
<mat-card class="dashboard-card topics" routerLink="topics">
    <mat-icon>category</mat-icon>
    <h3>Manage Topics</h3>
    <p>Create, disable or delete topics</p>
  </mat-card>

  <mat-card class="dashboard-card questions" routerLink="questions">
    <mat-icon>quiz</mat-icon>
    <h3>Create Question</h3>
    <p>Add quiz questions manually</p>
  </mat-card>

  <mat-card class="dashboard-card upload" routerLink="bulk-upload">
    <mat-icon>upload_file</mat-icon>
    <h3>Bulk Upload</h3>
    <p>Upload questions via file</p>
  </mat-card>
</div>
